{% extends "main/base.html" %}
    {% load static %}

{% block content %}


<h1 class="mt-5 pt-5 text-dark text-center"><strong>{{ content }}</strong></h1></div> 


<main>
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="..\media\DRUTEX_SHOWROOM_10.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="..\media\DRUTEX_SHOWROOM_18.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="..\media\DRUTEX_SHOWROOM_19.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>

</main>
{% endblock content %}



{% block catalog %}

<div class="row mt-1 position-fixed z-3"> 
    <!-- Каталог -->
     <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Каталог
            <img class="mx-1" src="{% static "/icons/grid-fill.svg"%}" alt="Catalog Icon" width="16"
                height="16">
        </button>

        <ul class="dropdown-menu bg-dark" data-bs-theme="dark">
          {% for katal  in catalog  %}
                <li><a class="dropdown-item text-white" href="{% url "main:index"%}">{{ katal.name }}</a></li>
                {% endfor %}
           
    
        </ul>
      </div> 
    </div>
    
{% endblock catalog %}




    

   